
/* Universal styles */
* {
  border: 1px solid blue;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem;
}

/* Header */
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
}

.logo img {
  height: 3rem;
}

#grey {
  color: grey;
  font-weight: normal;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding-left: 1rem;
}

/* Learn Something section */
.learn {
  
}

/* Intro section */

/* Start learning section */

/* Thesis section */

/* Footer */
